[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
python-dateutil = "*"
pandas = "*"
numpy = "*"

[dev-packages]
jupyterlab = "*"
altair = "*"
altair-latimes = "*"
twine = "*"
setuptools-scm = "*"
pre-commit = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-palewire-theme = "*"
myst-parser = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
myst-nb = "*"

[requires]
python_version = "3.11"
