[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
python-dateutil = "*"
pandas = "*"

[dev-packages]
jupyterlab = "*"
altair = "*"
altair-latimes = "*"
twine = "*"
"flake8" = "*"
setuptools-scm = "*"
pre-commit = "*"
sphinx = "*"
myst-parser = "*"

[requires]
python_version = "3.9"
